@import "reset";
@import "general";


* {
  font-family: "ps2", sans-serif;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  background: black;
  // background: $mainColor;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.wow {
  color: purple;
}